{% extends 'base.html' %}
{%block conteudo%}

<h1 class="mt-5">Minha agenda - Em construção - v 2.0</h1>

<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
        <th>Favoritos</th>
    </tr>
    </thead>
    <tbody>
    {% for contato in contatos %}
    {% if contato.mostrar %}
    <tr>
        <td>
            <a href="{% url 'pg_contato' contato.id%}">{{contato.nome}}</a>
        </td>
        <td>{{contato.sobrenome}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.categoria}}</td>
        {% if contato.categoria_especial == '1' %}
        <td><i class="fas fa-fw fa-grin-wink"></i> Amigos</td>
        {% elif contato.categoria_especial == '2' %}
        <td><i class="fas fa-fw fa-home"></i> Família</td>
        {% else %}
        <td></td>
        {% endif %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>


<!-- Paginação -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if contatos.has_previous %}
        <li class="page-item active">
            <a class="page-link" href="?p={{ contatos.previous_page_number }}&termo={{ request.GET.termo }}"> < </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="?p={{pagina}}&termo={{ request.GET.termo }}"> < </a>
        </li>
        {% endif %}
        {%for pagina in contatos.paginator.page_range%}
        {% if contatos.number == pagina %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?p={{pagina}}&termo={{ request.GET.termo }}">{{pagina}}<span class="sr-only">(current)</span></a>
        </li>
        {% elif pagina > contatos.number|add:-3 and pagina < contatos.number|add:3  %}
        <li class="page_item">
            <a class="page-link" href ="?p={{pagina}}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if contatos.has_next %}
        <li class="page-item active">
            <a class="page-link" href="?p={{ contatos.next_page_number }}&termo={{ request.GET.termo }}"> > </a></li>
        {% else %}
        <li class="page-item disabled"></li>
        <li class="page-link"> > </li>
        {% endif %}
    </ul>
</nav>

{%endblock%}