{% extends 'base.html' %}

{%block conteudo%}
<h1 class="mt-5">Minha agenda - Em construção - v1.0</h1>

<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="#"> Nome 1</a>
        </td>
        <td>Nome 1</td>
        <td>+XX X XXXX-XXXX</td>
        <td>Categoria 1</td>
    </tr>
    <tr>
        <td>
            <a href="#"> Nome 2</a>
        </td>
        <td>Nome 2</td>
        <td>+XX X XXXX-XXXX</td>
        <td>Categoria 2</td>
    </tr>
    <tr>
        <td>
            <a href="#"> Nome 3</a>
        </td>
        <td>Nome 3</td>
        <td>+XX X XXXX-XXXX</td>
        <td>Categoria 3</td>
    </tr>
    </tbody>
</table>


{%endblock%}