{% extends 'base.html' %}

{%block conteudo%}
<h1 class="mt-5">Minha agenda - Em construção - v1.0</h1>

<table class="table">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
        <th>Favoritos</th>
    </tr>
    </thead>
    <tbody>
    {% for contato in contatos %}
    <tr>
        <td>
            <a href="#">{{contato.nome}}</a>
        </td>
        <td>{{contato.sobrenome}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.categoria}}</td>
        {% if contato.categoria_especial == '1' %}
        <td><i class="fas fa-fw fa-grin-wink"></i> Amigos</td>
        {% elif contato.categoria_especial == '2' %}
        <td><i class="fas fa-fw fa-home"></i> Família</td>
        {% else %}
        <td></td>
        {% endif %}
    {% endfor %}
    </tbody>
</table>


{%endblock%}